site_name: Cmdbsyncer Documentation
nav:
  - Home: index.md
  - How it Works: basics/how_it_works.md
  - Setup:
    - Get the Program: basics/setup_code.md
    - Installation with Docker: basics/setup_docker.md
    - mod_wsgi and Apache (eg. RH9): basics/install_wsgi.md
    - UWSGI and Apache: basics/uwsgi_apache.md
    - Update Program: basics/updates.md
    - Changelog/ Update Notes: updates/changelog.md
  - Basics:
    - First Steps: basics/first_steps.md
    - Config: basics/lcl_config.md
    - Caching: basics/caching.md
    - Accounts: basics/accounts.md
    - Cronjobs: basics/cron.md
    - Fileadmin: basics/fileadmin.md
    - Debug Requests: basics/debug.md
  - Functions:
    - Import Systems: basics/import.md
    - Export Systems: basics/export.md
    - Remove Hosts: basics/maintenance.md
    - Hosts, Labels and Inventory: basics/host_labels_inventory.md
    - Conditions: basics/conditions.md
    - Custom Attributes: basics/custom_attributes.md
    - Rewrite Attributes: basics/rewrite_attributes.md
    - Rewrite Hostnames: basics/rewrite_hostnames.md
    - Filter: basics/filter.md
    - Debug Rules: basics/debug_rules.md

  - Ansible:
    - Ansible Basics: ansible/index.md
    - Manage Checkmk Agents: ansible/cmk_agents.md
    - Manage Checkmk Sites: ansible/cmk_sites.md
  - CSV:
    - CSV Basics: csv/index.md
  - Checkmk:
      - Checkmk Basics: checkmk/index.md
      - Commandline Parameters: checkmk/commandline.md
      - Set Folders and Host Attributes: checkmk/export_rules.md
      - Host-/ Contact-/ Service-Groups: checkmk/groups_management.md
      - Checkmk Rules: checkmk/rules_management.md
      - Hosttags: checkmk/create_hosttags.md
      - Checkmk Users: checkmk/users.md
      - Downtimes: checkmk/create_downtimes.md
      - DCD Rules: checkmk/dcd_rules.md
      - Business Intelligence: checkmk/bi.md
      - Folder Pools: checkmk/folder_pools.md
      - Inventorize Checkmk: checkmk/inventorize.md
      - Local Config Variables: checkmk/config_vars.md
      - Set a Checkmk Attribute: checkmk/cmk_attributes.md
      - Create Cluster in Checkmk: checkmk/create_cluster.md
      - Manage Contact Groups: checkmk/recipe_contact_groups.md
      - Create a Checkmk Rule: checkmk/recipe_checkmk_rules.md
      - Example Multiple HTTP Rules: checkmk/recipe_multiple_http_rules.md
      - Full Agenten Automations: ansible/cmk_agents.md
      - Site Update Automations: ansible/cmk_sites.md
      - Mange big Environments: checkmk/big_environments.md
  - Cisco Dna:
    - Cisco DNA Basics: ciscodna/index.md
  - JDisc:
    - JDisc Basics: jdisc/index.md
  - Netbox:
    - DCIM Devices: netbox/devices.md
    - DCIM Interfaces: netbox/Interfaces.md
    - IPAM IP Addresses: netbox/ipaddresses.md
  - I-Doit:
      - Idoit Basics: i-doit/index.md
  - Rest APIs/ Json:
     - Import RestApis or Json: rest_json/index.md
  - "Advanced":
     - Build your own Plugin: advanced/own_plugins.md
     - Plugin API: advanced/plugin_api.md
     - Jinja Functions: advanced/jinja_functions.md
     - Rest API: restapi/index.md
     - Sys Module: sys/index.md

theme:
  name: material
  features:
    #- navigation.tabs
    #- navigation.sections
    #- toc.integrate
    #- navigation.top
    #- search.suggest
    #- search.highlight
    #- content.tabs.link
    #- content.code.annotation
    #- content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
copyright: Kuhn & Ruess GmbH <a href="https://kuhn-ruess.de/de/impressum/">Imprint</a>
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kuhn-ruess/cmdbsyncer
    - icon: fontawesome/solid/house 
      link: https://kuhn-ruess.de

plugins:
- search
  #- mkdocstrings
